@font-face {
  font-family: "GRIFTER";
  src: url("/fonts/Grifter-Bold-Updated/grifter_bold-webfont.ttf") format("ttf"), url("/fonts/Grifter-Bold-Updated/grifter_bold-webfont.woff") format("woff"), url("/fonts/Grifter-Bold-Updated/grifter_bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "GRIFTER", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color: #333;
}

a {
  font-style: none;
  color: inherit;
  text-decoration: none;
}

#root, #__next {
  isolation: isolate;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrapper__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1660px;
  height: 100vh;
}
.wrapper__main {
  margin: 0 auto;
}
.wrapper__bg::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/media/blur1.png");
  background-size: 200%;
  background-position: center;
  background-repeat: repeat;
  filter: blur(3rem) brightness(135%);
  opacity: 0.4;
  z-index: 1;
  animation: rotating 45s linear infinite;
}

nav.homepage-nav {
  position: fixed;
  top: 3rem;
  width: 100%;
  max-width: 1660px;
  z-index: 2;
}
nav.homepage-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 5px;
}
nav.homepage-nav ul li {
  cursor: pointer;
  font-size: 16px;
  color: #333;
}
@media (min-width: 1224px) {
  nav.homepage-nav ul li {
    font-size: 16px;
    border-top: 10px solid transparent;
    margin: -10px 0 0 -10px;
  }
}
nav.homepage-nav ul li a {
  padding: 20px;
  display: inline-block;
  transition: ease 200ms;
}
nav.homepage-nav ul li a:hover {
  transition: ease 200ms;
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
nav.homepage-nav ul li:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transition: ease 200ms;
  color: #111;
}
nav.homepage-nav ul li.nav-about {
  transform: rotate(-90deg);
}
nav.homepage-nav ul li.nav-work {
  transform: translateY(-35px);
}
nav.homepage-nav ul li.nav-hire {
  transform: rotate(90deg) translateX(6px);
}

.title-container .title {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-54%, -50%);
  width: 100%;
  max-width: 72vw;
  z-index: 1;
}
@media (min-width: 768px) {
  .title-container .title {
    max-width: 42rem;
  }
}
.title-container .title h1 {
  font-size: 14vw;
  display: grid;
  width: 100%;
  margin: 0 auto;
  max-width: 620px;
}
@media (min-width: 768px) {
  .title-container .title h1 {
    font-size: 8.2rem;
  }
}
.title-container .title h1 span {
  max-width: -moz-fit-content;
  max-width: fit-content;
  line-height: 0.78;
}
.title-container .title h1 span.last {
  justify-self: flex-end;
}

.svg-container {
  width: 100vw;
  height: auto;
  transform: translateY(-9vw);
}
@media (min-width: 768px) {
  .svg-container {
    display: block;
    width: 60rem;
    height: 60rem;
    transform: translateY(-65px);
  }
}
.svg-container svg {
  display: block;
  animation: rotating 30s linear infinite;
}
.svg-container text {
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
  fill: #111;
  position: fixed;
  opacity: 1;
  transform: translate(25%, 25%);
}
.svg-container .panel-hide {
  transform: translate(-50%, 5px) rotate(16deg);
  width: 500px;
  height: 250px;
  position: absolute;
  top: 49%;
  left: 50%;
  z-index: 0;
  background-color: #fff;
  filter: blur(3px);
}
@media (min-width: 1224px) {
  .svg-container .panel-hide {
    transform: translate(-50%) rotate(17deg);
  }
}

.about-container {
  margin: 80px auto 0;
  padding: 0 36px;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .about-container {
    margin: 40px auto;
    padding: 0;
    max-width: 620px;
  }
}
.about-container .copy {
  margin: 40px auto;
}
@media (min-width: 1224px) {
  .about-container .copy {
    margin: 50px auto;
  }
}
.about-container p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #000;
}

.img-med {
  width: 100%;
  max-width: 350px;
  margin: 12px auto;
}

.contact-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 1224px) {
  .contact-wrapper {
    height: calc(100vh - 80px);
  }
}

p.centered {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.7;
  letter-spacing: 0.5px;
  padding: 40px;
  border: 1px solid #333;
}
@media (min-width: 1224px) {
  p.centered {
    max-width: 50vw;
    font-size: 1.8rem;
    padding: 50px;
  }
}
p.centered a {
  transition: all ease-in-out 100ms;
  text-decoration: underline;
}
p.centered a:hover {
  color: #111;
}

.socials {
  display: flex;
  position: absolute;
  right: 50px;
  bottom: 30px;
  z-index: 3;
  gap: 10px;
  cursor: pointer;
}
.socials svg {
  fill: #333;
  transition: ease-in-out 200ms;
}
.socials svg:hover {
  fill: #111;
}

.hidden p {
  text-align: center;
}
.hidden p.small {
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  background-color: #fff;
  z-index: 1001;
}
@media (min-width: 280px) {
  .hidden p.small {
    display: none;
  }
}
.hidden p.large {
  display: none;
  position: absolute;
  bottom: 120px;
  right: -80px;
}
@media (min-width: 2400px) {
  .hidden p.large {
    display: block;
    transform: rotate(-90deg);
  }
}/*# sourceMappingURL=main.css.map */