@font-face {
  font-family: "GRIFTER";
  src: url("/fonts/Grifter-Bold-Updated/grifter_bold-webfont.ttf") format("ttf"), url("/fonts/Grifter-Bold-Updated/grifter_bold-webfont.woff") format("woff"), url("/fonts/Grifter-Bold-Updated/grifter_bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "GRIFTER", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  overflow: hidden;
}
body.modal-open {
  background-color: #f8f8f6;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: #333;
}

b.email {
  overflow-wrap: anywhere;
}

a {
  font-style: none;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#root,
#__next {
  isolation: isolate;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrapper__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1660px;
  height: 100%;
}
.wrapper__main {
  margin: 0 auto;
  height: 100%;
}
@media (min-width: 280px) {
  .wrapper__main.modal-open {
    display: none;
  }
}
.wrapper__bg::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/media/blur1.png");
  background-size: 200%;
  background-position: center;
  background-repeat: repeat;
  filter: blur(3rem) brightness(135%);
  opacity: 0.4;
  z-index: 1;
  animation: rotating 30s linear infinite;
}
@media (min-width: 768px) {
  .wrapper__bg::before {
    animation: rotating 45s linear infinite;
  }
}

.mobile-nav {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;
  transition: all ease-in-out 200ms;
}
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav button.svg-button {
  width: 80px;
  height: 80px;
  padding: 20px;
  background-color: none;
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.mobile-nav button.svg-button:active, .mobile-nav button.svg-button:focus {
  outline: none;
  background-color: none;
}
.mobile-nav button.svg-button .bar {
  transition: all ease-in-out 200ms;
}
.mobile-nav button.svg-button .bar__top.close-top {
  display: none;
}
.mobile-nav button.svg-button .bar__bottom.close-bottom {
  display: none;
}

nav.homepage-nav {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: -500px;
  width: 100%;
  height: 100%;
  max-width: 1660px;
  z-index: 4;
  background-color: #f8f8f6;
  opacity: 0;
  transition: all ease-in-out 200ms;
}
nav.homepage-nav.visible {
  opacity: 1;
  left: 0;
  padding-left: 20px;
}
@media (min-width: 768px) {
  nav.homepage-nav {
    position: fixed;
    opacity: 1;
    top: 3rem;
    left: unset;
    width: 100%;
    height: auto;
    max-width: 1660px;
    background-color: unset;
    z-index: 2;
  }
}
nav.homepage-nav #closeMobileNav {
  opacity: 1;
}
@media (min-width: 768px) {
  nav.homepage-nav #closeMobileNav {
    display: none;
  }
}
nav.homepage-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  padding: 5px;
}
@media (min-width: 768px) {
  nav.homepage-nav ul {
    flex-direction: row;
    width: 100%;
  }
}
nav.homepage-nav ul li {
  cursor: pointer;
  font-size: 32px;
  color: #333;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  nav.homepage-nav ul li {
    font-size: 16px;
    border-top: 10px solid transparent;
    margin: -10px 0 0 -10px;
    text-transform: none;
  }
  nav.homepage-nav ul li:hover {
    color: #111;
  }
}
nav.homepage-nav ul li a {
  padding: 20px;
  display: inline-block;
}
@media (min-width: 768px) {
  nav.homepage-nav ul li.nav-about {
    transform: rotate(-90deg);
  }
  nav.homepage-nav ul li.nav-work {
    transform: translateY(-35px);
  }
  nav.homepage-nav ul li.nav-hire {
    transform: rotate(90deg) translateX(6px);
  }
}

.title-container .title {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-54%, -50%);
  width: 100%;
  max-width: 72vw;
  z-index: 1;
}
@media (orientation: landscape) and (max-width: 768px) {
  .title-container .title {
    max-width: 34vw;
  }
}
@media (min-width: 768px) {
  .title-container .title {
    max-width: 42rem;
  }
}
.title-container .title h1 {
  font-size: 14vw;
  display: grid;
  width: 100%;
  margin: 0 auto;
  max-width: 620px;
}
@media (orientation: landscape) and (max-width: 768px) {
  .title-container .title h1 {
    font-size: 6vw;
  }
}
@media (min-width: 768px) {
  .title-container .title h1 {
    font-size: 8.2rem;
  }
}
.title-container .title h1 span {
  max-width: -moz-fit-content;
  max-width: fit-content;
  line-height: 0.78;
}
.title-container .title h1 span.last {
  justify-self: flex-end;
}

.svg-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(7.5%, -17.5%);
}
@media (orientation: landscape) and (max-width: 768px) {
  .svg-container {
    transform: translate(-5%, -5.5%);
  }
}
@media (min-width: 768px) {
  .svg-container {
    transform: translate(7.5%, -15%);
  }
}
.svg-container .circle-svg {
  width: clamp(180px, 50vw, 450px);
  height: auto;
  animation: rotating 30s linear infinite;
}
@media (orientation: landscape) and (max-width: 768px) {
  .svg-container .circle-svg {
    width: 170px;
  }
}
.svg-container .circle-svg text {
  font-size: 29px;
  fill: #111;
  font-style: italic;
  font-weight: 100;
}
.svg-container .panel-hide {
  transform: translate(-50%, 5px) rotate(16deg);
  width: 500px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  background-color: #fff;
  filter: blur(3px);
}
@media (orientation: landscape) and (max-width: 768px) {
  .svg-container .panel-hide {
    top: 40%;
  }
}
@media (min-width: 1224px) {
  .svg-container .panel-hide {
    transform: translate(-50%) rotate(16deg);
  }
}

.about-container {
  margin: 80px auto 0;
  padding: 0 36px;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .about-container {
    margin: 40px auto;
    padding: 0;
    max-width: 620px;
  }
}
.about-container .copy {
  margin: 40px auto;
}
@media (min-width: 1224px) {
  .about-container .copy {
    margin: 50px auto;
  }
}
.about-container p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #000;
}

.img-med {
  width: 100%;
  max-width: 350px;
  margin: 12px auto;
}

.contact-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 1224px) {
  .contact-wrapper {
    height: calc(100vh - 80px);
  }
}

p.centered {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.7;
  letter-spacing: 0.5px;
  padding: 36px 24px;
  border: 1px solid #333;
}
@media (min-width: 768px) {
  p.centered {
    padding: 40px;
  }
}
@media (min-width: 1224px) {
  p.centered {
    max-width: 50vw;
    font-size: 1.8rem;
    padding: 50px;
  }
}
p.centered a {
  transition: all ease-in-out 100ms;
  text-decoration: underline;
}
p.centered a:hover {
  color: #111;
}

.socials {
  display: flex;
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 3;
  gap: 10px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .socials {
    right: 50px;
    bottom: 30px;
  }
}
.socials svg {
  fill: #333;
  transition: ease-in-out 200ms;
  width: 32px;
  height: 32px;
}
.socials svg:hover {
  fill: #111;
}

.hidden p {
  text-align: center;
}
.hidden p.small {
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  background-color: #fff;
  z-index: 99999;
}
@media (min-width: 280px) {
  .hidden p.small {
    display: none;
  }
}
.hidden p.large {
  display: none;
  position: absolute;
  bottom: 120px;
  right: -80px;
}
@media (min-width: 2400px) {
  .hidden p.large {
    display: block;
    transform: rotate(-90deg);
    z-index: 99999;
  }
}/*# sourceMappingURL=main.css.map */