$tablet-min-width: 768px;
$desktop-min-width: 992px;

html {
  scroll-behavior: smooth !important;
}

.main {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;

  #projects, #testimonials {
    transition: opacity .5s ease-in-out;
    display: none;
  }
    /* Show class for visible sections */
  #projects.show, #testimonials.show {
    display: block;
  }

  /* Hide class for hidden sections */
  #projects.hide, #testimonials.hide {
    display: none;
  }

  h2 {
    margin: 20px 0 2px;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1;
  }

  h3 {
    font-size: 12px;
    margin: 0 0 6px;
  }

  h4 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0 auto;
  }

  p {
    &.link {
      margin: 8px 0 4px;
    }

    a {
      color: orangered;
      padding: 10px 0;

      & span.bullet {
        font-size: 34px;
        line-height: 0.43;
        vertical-align: bottom;
        margin: 0 0 0 6px;
        color: red;
        opacity: 0;
        transition: all ease-in-out 150ms;
      }

      &:hover {
        color: red;

        & span.bullet {
          opacity: 1;
        }
      }
    }
  }

  nav.work-nav {
    position: relative;
    top: 0;
    margin: 24px auto 16px;
    max-width: 400px;

    @media (min-width: $desktop-min-width) {
      margin: 14px auto;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 0;

      li {
        border: none;
        margin: 0;
        list-style: none;

        &.pipe {
          font-size: 30px;
          pointer-events: none;
          transform: translateY(2px);
        }

        &:hover {
          transform: none;
        }

        a {
          padding: 10px 0;

          &:hover {
            transform: none;
          }
        }
      }
    }
  }

  .intro {
    border-bottom: 1px solid #333;
    width: 100%;
    margin: 0 0 16px;

    @media (min-width: $desktop-min-width) {
      margin: 0 0 26px;
    }
  }

  p.centered {
    padding: 4px 0 12px;
    font-size: 24px;
    line-height: 1.4;

    @media (min-width: $desktop-min-width) {
      padding: 14px 0 6px;
      font-size: 16px;
      text-align: left;
    }
  }

  .project-grid {
    display: grid;
    width: 100%;
    padding: 0;
    margin: 40px 0 10px;
    gap: 40px;
    justify-content: space-evenly;
    align-items: flex-start;

    @media (min-width: $tablet-min-width) {
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
    }

    @media (min-width: $desktop-min-width) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 60px;
      row-gap: 40px;
      padding: 20px;
      margin: 0 auto;
    }

    & .project {
      .image-container {
        display: grid;
        width: 100%;
        max-width: 300px;
        height: 300px;
        background-color: #fff;
        border: 3px solid #e8e6e6;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all ease-in-out 150ms;

        &:hover {
          opacity: 0.85;
        }

        img {
          margin: 0 auto;
          cursor: pointer;
          width: 100%;
          max-width: 300px;
  
          @media (min-width: $desktop-min-width) {
            margin: 0;
          }
        }
      }
    }
  }

  .testimonials-section {

    .project-grid {
      @media (min-width: $tablet-min-width) {
        grid-template-columns: repeat(1, 1fr);
        align-items: flex-start;
      }
  
      @media (min-width: $desktop-min-width) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 60px;
        row-gap: 40px;
        padding: 20px;
        margin: 0 auto;
      }
    }
    .testimonial {
      display: flex;
      flex-direction: column;

      p {
        margin: 8px 0 0;
      }
    }
  }
}
