$tablet-min-width: 768px;
$desktop-min-width: 1224px;

.main {
  width: 100%;
  max-width: 1660px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  display: grid;

  @media (min-width: $tablet-min-width) {
    column-gap: 60px;
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: 1fr 2fr;
    column-gap: 104px;
  }

  #projects,
  #testimonials {
    transition: opacity 0.5s ease-in-out;
    display: none;
  }
  #projects.show,
  #testimonials.show {
    display: block;
  }

  #projects.hide,
  #testimonials.hide {
    display: none;
  }

  h2 {
    margin: 0 0 6px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1px;
    color: #111;

    @media (min-width: $desktop-min-width) {
      font-size: 24px;
    }
  }

  h3 {
    font-size: 14px;
    margin: 10px 0;
    letter-spacing: 1px;

    @media (min-width: $desktop-min-width) {
      margin: 4px 0 16px;
    }
  }

  p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0 auto;
  }

  button {
    &.link {
      margin: 8px 0 4px;
      border: none;
      padding: 0;
      background-color: transparent;
    }

    a {
      color: rgb(241, 76, 16);
      padding: 10px 0;
      font-size: 18px;
      letter-spacing: 0.8px;

      @media (min-width: $desktop-min-width) {
        font-size: 16px;
      }

      & span.bullet {
        font-size: 34px;
        line-height: 0.97;
        vertical-align: middle;
        margin: 0 0 0 6px;
        color: rgb(241, 76, 16);
        visibility: hidden;
        transition: visibility ease-in-out 150ms;
      }

      @media (min-width: $desktop-min-width) {
        &:hover {
          span.bullet {
            visibility: visible;
          }
        }
      }
    }
  }

  h5 {
    margin: 8px 0 0;
    letter-spacing: 0.8px;
    font-size: 14px;
    color: #000;
    text-decoration: underline;
    cursor: pointer;

    font-family: "Grifter-Regular-Updated", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    span {
      padding: 12px 12px 12px 0;
      font-weight: 700;
    }
  }

  span.break {
    display: block;
    width: 100%;
    height: 22px;
  }

  nav.work-nav {
    position: relative;
    top: 0;
    margin: 0 auto;
    width: 100%;

    @media (min-width: $desktop-min-width) {
      margin: 0 auto;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      gap: 8px;
      padding: 66px 0 0 0;
      margin: 10px 0 14px 24px;

      @media (min-width: $desktop-min-width) {
        position: fixed;
        justify-content: space-between;
        margin: 80px 0 14px 60px;
        padding: 0;
        min-height: 230px;
        gap: unset;
      }

      li {
        margin: 0;
        list-style: none;
        border: none;
        background-color: #f8f8f6;

        &:hover {
          transform: none;
        }

        a {
          font-size: clamp(32px, 3.5vw, 50px);
          margin: 0;
          padding: 4px 0;
          color: #909090;

          &.active {
            color: #111;
          }

          &:hover {
            transform: none;
          }
        }
      }
    }

    .border {
      bottom: 0;
      left: 0;
      position: relative;
      border-bottom: 1px solid #000;
      width: 100%;
      display: block;

      @media (min-width: $desktop-min-width) {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        border-left: 1px solid #000;
        height: 100%;
        left: 224px;
        z-index: -1;
      }
    }
  }

  .intro {
    width: 100%;
    margin: 0;

    @media (min-width: $desktop-min-width) {
      margin: 0 0 26px;
    }

    p {
      color: #111;
      padding: 44px 0 42px;
      font-size: 18px;
      line-height: 1.4;
      font-weight: 500;

      @media (min-width: $desktop-min-width) {
        padding: 14px 0 6px;
        font-size: 16px;
        text-align: left;
      }
    }
  }

  .projects-section {
    margin: 0 24px 40px;

    @media (min-width: $desktop-min-width) {
      margin: 15px auto 20px;
      padding: 80px 0 0 0;
    }

    .project-grid {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 56px;

      @media (min-width: $tablet-min-width) {
        align-items: flex-start;
      }

      @media (min-width: $desktop-min-width) {
        column-gap: 60px;
        row-gap: 40px;
        margin: 0 auto;
        padding: 0 60px 30px 0;
      }

      & .project {
        flex: 1 1 100%;

        @media (min-width: $tablet-min-width) {
          flex: 1 1 calc(50% - 40px);
        }

        .project-img {
          position: relative;
          width: clamp(0px, 100%, 360px);
          max-width: 100%;
          height: auto;
          aspect-ratio: 1/1;
          margin: 0 auto 24px;
          border: 3px solid #e8e6e6;
          transition: all ease-in-out 150ms;

          @media (min-width: $desktop-min-width) {
            &:hover {
              opacity: 0.85;
            }
          }

          @media (min-width: $tablet-min-width) {
            margin: 0 0 24px;
          }

          @media (min-width: $desktop-min-width) {
            margin: 0 0 36px;
          }
        }

        p {
          font-size: 16px;
          margin: 0 0 10px;

          @media (min-width: $desktop-min-width) {
            margin: 0 0 6px;
          }
        }
      }
    }
  }

  .testimonials-section {
    margin: 44px 24px;

    @media (min-width: $desktop-min-width) {
      margin: 20px auto;
      overflow-y: scroll;
      padding: 88px 0 0 0;
    }

    h4 {
      letter-spacing: 1px;
    }

    .project-grid {
      display: grid;
      gap: 44px;

      @media (min-width: $tablet-min-width) {
        grid-template-columns: repeat(1, 1fr);
        align-items: flex-start;
      }

      @media (min-width: $desktop-min-width) {
        padding: 0 60px 40px 0;
      }
    }

    .testimonial {
      display: flex;
      flex-direction: column;

      &:not(:last-of-type) {
        border-bottom: 1px solid #000;
        padding-bottom: 44px;
      }

      h2 {
        margin: 24px 0 8px;
        color: #111;
      }

      p {
        font-size: 16px;
        margin: 0;
      }
    }
  }

  .line-clamp {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.scroll-to-top {
  position: relative;
  z-index: 999999;
  margin: -12px 36px 40px auto;
  cursor: pointer;

  @media (min-width: $desktop-min-width) {
    margin: -40px 56px 20px auto;
  }

  @media (min-width: 1660px) {
    margin-top: auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
  }

  svg.arrow {
    position: relative;
    z-index: 999999;
    width: 16px;
    height: 16px;
    pointer-events: all;

    path {
      stroke-width: 8px;
    }
  }
}
